.wrapper {
    margin: 0 auto;
    transform: translateY(128px);
    height: 912px;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}