.wrapper {
    max-width: 600px;
    height: 100%;
    position: relative;
}

.order_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 10px;
}

.order_items {
    width: 100%;
    max-height: 510px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-height: 670px) {
    .order_items {
        max-height: 270px;
    }
}

.order_items::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.order_items::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}

.order_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    gap: 12px
}
.order_item div{
    width: 100%;
}

.create_order_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
}

.icon_section {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canDrop {
    border: dodgerblue 1px solid;
}