.order_number{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.done_section{

}
.done_section img{
    height: 120px;
    width: 120px;
}