.container {
    width: 520px;
}

.container h2 {
    text-align: center;
}

.img_section img {
    height: 240px;
    width: 480px;
}

.details_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    color: #8585AD;
}

.details_item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
