.filling_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    opacity: 1;
    padding-right: 8px;
}
.drag {
    opacity: 0.01;
}
.filling_item div {
    width: 100px;
}
.can_drop{
    border: 1px solid blue;
}
