.input_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.button_section{
    margin-top: 24px;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-right: 70px;
    display: none;
}
.show{
    display: flex;
}
.cancel_button{
    color: #4C4CFF;
    background: #131316;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}